/* Logos */
a.logo img
{
  margin: 1em;
  border: 0;
  width: 150px;
}

/* Programme */
/** jour */
h4
{ 
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin:1.5em 0 0.5em 0;
}

/** bordures */
table.programme
{ 
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
table.programme th
{
  padding: 0.3em;
  border-bottom: 1px solid black;
}
table.programme td
{ 
  vertical-align: top;
  padding: 0.3em;
}

/** lignes aux couleurs alternées */
table.programme > thead > tr,
table.programme tr:nth-child(even)
{ 
  background: #f5f6f7;
}

/** largeur des colonnes */
table.programme > thead > tr > th:first-child
{ 
  width: 7%;
}
table.programme > thead > tr > th:first-child + th
{ 
  width: 25%;
}
table.programme > thead > tr > th:first-child + th + th
{ 
  width: 10%;
}
table.programme > thead > tr > th:first-child + th + th + th
{ 
  width: 53%;
}